.app {
  display: flex;
  flex-direction: column;

  .header {
    position: sticky;
    top: 0;
    z-index: 100; // Ensure the header is above other content
  }

  .body {
    min-height: 100vh;
  }

  .footer {
    margin-top: auto;
  }
}
