{
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "semi": true,
        "singleQuote": true,
        "bracketSpacing": false,
        "trailingComma": "none",
        "arrowParens": "avoid"
      }
    }
  ]
}
