@import "@assets/styles/variables";

.user-profile {
  .box {
    margin-left: 10px;
    padding: 20px;
    border: 1px solid $app-primary;
    border-radius: 8px;
    background-color: #fff;
    max-width: 600px;
  }

  .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
  }

  .tab {
    padding: 10px;
    cursor: pointer;
    text-align: center;
  }

  .tab.active {
    border-bottom: 2px solid $app-tertiary;
    font-weight: bold;
  }

  .tab.inactive {
    color: #6c757d;
  }
  .actions {
    button {
      min-width: 150px !important;
    }
  }
}
