.product-list {
  padding: 180px;
  text-align: center;
  color: #333;

  h1 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
    color: #1f7343;
    width: 200px;
    height: 38px;
    display: flex;
    justify-content: space-between;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(280px, 1fr)
    ); /* Adjust the 250px value as needed */
    gap: 20px 40px;
    list-style: none;
    padding: 0;

    .product-card {
      width: 312px;
      height: 368px;
      border: 1px solid #c5eed7;
      background: rgba(255, 255, 255, 0.8); /* #FFFFFF with 80% opacity */
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 15px;
      text-align: center; /* Center alignment */

      .product-content {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center alignment */

        .product-title {
          font-family: "Inter", sans-serif;
          font-size: 20px;
          font-weight: 600;
          line-height: 24px;
          color: #31b46a;
          width: 240px;
          height: 24px;
        }

        .product-summary {
          font-size: 14px;
          margin-bottom: 10px;
        }

        .product-price {
          font-family: "Inter", sans-serif;
          font-size: 20px;
          font-weight: 600;
          line-height: 30px;
          color: #1f7343;
          height: 30px;
        }

        .product-creation-date {
          font-family: "Inter", sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          color: #31b46a;
          width: 240px;
          height: 21px;
        }
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
  }

  .load-more {
    width: 648px;
    height: 51px;
    border: 2px solid #70e2a2;
    border-radius: 43px;
    padding: 16px 40px;
    background-color: #ffffff;
    color: #000; /* Adjust the text color as needed */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px; /* Adjust the margin as needed to create the gap */

    &:hover {
      background-color: #0056b3;
    }
  }
}
