@import "@assets/styles/variables";

.box{
    padding: 20px;
    border: 1px solid $app-primary;
    background-color: #fff;
}

.avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
  }
