.product-card {
  display: flex;
  padding: 20.642px 24px 9.866px 24px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 17.161px;
  border-radius: 8px;
  border: 1px solid #c5eed7;
  opacity: 0.8;
  background: #fff;

  .product-image {
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;

    img {
      width: 250px;
      height: 250px;
      flex-shrink: 0;
      object-fit: cover;
    }
  }

  .product-info {
    display: flex;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
    flex-shrink: 0;

    .product-summary {
      font-size: 14px;
      margin-bottom: 10px;
    }

    .product-price {
      color: #024b1a; /* This will make the text black. Adjust the color as needed. */
      font-weight: bold;
    }

    .product-price,
    .product-status,
    .product-created-by,
    .product-modified-by,
    .product-modification-date {
      font-size: 12px;
      margin-bottom: 5px;
    }
  }
}
