@import "@assets/styles/variables";

.product-detail {

  .avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
  }

  .wish-btn {
    border: 1px solid $app-sub-color;
    border-radius: 50%;
    background-color: transparent;
    width: 40px;
    height: 40px;
  }
}