@import "@assets/styles/variables";

.app-header {
  background-color: $app-primary;

  .logo {
    cursor: pointer;
  }

  .search {
    background-color: $app-white;
    min-width: 400px;
    min-height: 45px;
    border-radius: 30px;

    .search-icon {
      color: $app-quaternary;
    }

    .search-bar {
      background-color: transparent;
      border: none;
      outline: none;
      color: $app-tertiary;
    }
  }

  .search-and-actions {
    .actions {
      .user-actions-detail {
        .bi {
          color: $app-tertiary;
        }

        .notification-wrapper {
          position: relative;
        }

        .notification-wrapper .list-group {
          position: absolute;
          min-width: 350px;
          top: 95%; /* Position it at the bottom of the wrapper */
          transform: translateY(5%); /* Move it to the center of the wrapper */
          left: 0; /* Move the left edge to the center of the wrapper */
          z-index: 1; /* Make sure it's above other elements */
        }

        .user-info {
          --bs-btn-active-border-color: #70E2A2;
          position: relative;

          .bi {
            color: $app-tertiary;
          }

          .user-full-name {
            color: $app-quaternary;
          }
        }
      }

      .user-info {
        img {
          border-radius: 50%;
        }
      }

      .popup-profile {
        --bs-offcanvas-width: unset;

        .avatar {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }

        .bi {
          color: $app-tertiary;
        }

        .follow {
          width: 100%;
        }

        .full-name, .following, .followers, .rate-point, .number-of-rates {
          color: $app-quaternary;
        }
      }

    }
  }
}
