@import "@assets/styles/variables";

.exchange-detail {
  .halftop-box {
    padding: 20px;
    border: 1px solid $app-primary;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #fff;
    border-bottom: 0;
  }

  .halfbottom-box {
    padding: 30px;
    border: 1px solid $app-primary;
    border-bottom-left-radius: 8px;
    background-color: #fff;
  }

  .halfleft-box {
    padding: 30px;
    border: 1px solid $app-primary;
    border-bottom-left-radius: 8px;
    background-color: #fff;
  }

  .halfright-box {
    padding: 30px;
    border: 1px solid $app-primary;
    border-bottom-right-radius: 8px;
    border-left: 0;
    background-color: #fff;
  }

  .detail-information {
    border: 1px solid $app-primary;
    border-radius: 8px;
    background-color: #fff;
  }

  .actions {
    button {
      min-width: 274px !important;
    }
  }
}
