@import "@assets/styles/variables";

.app-footer {
  background-color: $app-primary;

  .page-footer {
    .app-info {
      color: $app-quaternary;
      max-width: 450px;

      .CTA {
        a {
          color: $app-tertiary;
          text-decoration: none;
        }

        p {
          color: $app-quaternary;
        }
      }
    }

    .app-support {
      h5 {
        color: $app-quaternary;
      }

      a {
        color: $app-tertiary;
        text-decoration: none;
      }
    }
  }

  .copyright {
    padding: 24px 0 12px;
    border-top: 1px solid $app-quaternary;

    .footer-version-app {
      color: $app-tertiary;
    }

    .footer-location {
      color: $app-tertiary;
    }
  }
}
