@import '../../../../assets//styles/variables';

.app-footer {
  background-color: $app-primary;

  .Footer-Content{
    color: $app-quaternary;
    margin-left: 130px;
  }
  
  .Footer-VersionApp{
    margin-left: 140px;
    color: $app-tertiary;
  }
  
  .Footer-Location{
    margin-right: 140px;
    color: $app-tertiary;
  }
  h5{
    color: $app-quaternary;
    padding-bottom: 10px;
  }
  li{
    color: $app-tertiary;
  }
  p{
    padding-top: 10px;
    max-width: 360px;
  }
  h1{
    color: $app-tertiary;
    font-weight: lighter;
    font-size: var(--bs-body-font-size);
  }
  .Thai{
    max-width: 1255px;
    display: block;
    margin: 0 auto;
  }
}

