@mixin font-style($weight, $size, $lineHeight) {
  font-family: "Inter", sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $lineHeight;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
}

.text-color-primary {
  color: $app-primary
}

.text-color-secondary {
  color: $app-secondary
}

.text-color-tertiary {
  color: $app-tertiary
}

.text-color-quaternary {
  color: $app-quaternary
}

.bold-32 {
  @include font-style(500, 32px, 120%);
}

.semibold-20 {
  @include font-style(500, 20px, 150%);
}

.semibold-16 {
  @include font-style(500, 16px, 150%);
}

.semibold-14 {
  @include font-style(500, 14px, 150%);
}

.regular-14 {
  @include font-style(300, 14px, 150%);
}

.regular-12 {
  @include font-style(300, 12px, 150%);
}
