@import 'variables';

@mixin font-style($weight, $size, $lineHeight) {
  font-family: "Inter", sans-serif !important;
  font-weight: $weight !important;
  font-size: $size !important;
  line-height: $lineHeight !important;
  font-style: normal !important;
  font-optical-sizing: auto !important;
  font-variation-settings: "slnt" 0 !important;
}

.text-color-primary {
  color: $app-primary !important;
}

.text-color-secondary {
  color: $app-secondary !important;
}

.text-color-tertiary {
  color: $app-tertiary !important;
}

.text-color-quaternary {
  color: $app-quaternary !important;
}

.text-color-sub-color {
  color: $app-sub-color !important;
}

.bold-32 {
  @include font-style(500, 32px, 120%);
}

.semibold-20 {
  @include font-style(500, 20px, 150%);
}

.semibold-16 {
  @include font-style(500, 16px, 150%);
}

.semibold-14 {
  @include font-style(500, 14px, 150%);
}

.regular-14 {
  @include font-style(300, 14px, 150%);
}

.regular-12 {
  @include font-style(300, 12px, 150%);
}
