@mixin font-style($weight, $size, $lineHeight) {
  font-family: "Inter", sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $lineHeight;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
}

.bold-32 {
  @include font-style(600, 32px, 48px);
}

.semibold-20 {
  @include font-style(500, 20px, 30px);
}

.semibold-16 {
  @include font-style(500, 16px, 24px);
}

.semibold-14 {
  @include font-style(500, 14px, 21px);
}

.regular-14 {
  @include font-style(300, 14px, 21px);
}

.regular-12 {
  @include font-style(300, 12px, 18px);
}
